.main {
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 100%;
    background-color: #FF9900;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main_left {
    display: flex;
    align-items: center;
    width: 60%;
}

.main_right {
    display: flex;
    justify-content: inherit;
    width: 40%;
    align-items: center;
    flex-direction: column;
}
.main_right_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.main_right_UserName{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    font-size: .7rem;
    font-style: italic;
    color: azure;
    border-top: .1rem solid;
}
.wishListIcon_main{
    display: flex;
}
.wishListIcon_count{
    margin-left: -.5rem;
    margin-top: 0.5rem;
    color: #b60909;
}
.cart_main{
    display: flex;
}
.cart_count{
    margin-left: -.3rem;
    margin-top: 0.5rem;
    color: #ffffff;
}