.Wishlist_main_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.wishList_btn_div{
    display: flex;
    position: sticky;
    top: 4rem;
    left: 0rem;
    z-index: 1; 
}
.No_Item_Found_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65vh;
}