.main_catagoryList{
    display: flex;
    gap: 1.5rem;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

@media only screen and (max-width: 414px) {

    //Iphone XR
    .main_catagoryList{
        margin: 0rem;
    }
   
}