.main_catagoryDetail{
    display: flex;
    flex-direction: column;
}
.catagoryDetail_btn_div{
    display: flex;
    position: sticky;
    top: 4rem;
    left: 0rem;
    z-index: 1;
    
}
.catagoryDetail_div{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}