.Main_headings{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: .5rem;
    align-items: center;
    font-weight: 600;
    background-color: #f7f0f0;
    padding: .5rem;
}