.Main_headings{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: .5rem;
    align-items: center;
    font-weight: 600;
    background-color: #f7f0f0;
    padding: .5rem;
    margin-top: 2rem;
}

.HomePagecatagoryDetail_div{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem;
    //flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
}