.main_singleItem{
    border: 1px gray;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: rgb(136, 136, 136) 1px 1px 5px;
    cursor: pointer;
    margin-left: 3rem;
    margin-right: 3rem;
}

.main_singleItem:hover {
    box-shadow: 1px 1px 10px #888888;
  }


